:root {
    --cor-principal: #FF4E02;
    --cor-secundaria: #F48859;
    --cor-neutra-escuro: #1c1c1c;
    --cor-neutra-claro: #FAFAFA;
    --complementar-c1: #3D3D3D;
    --complementar-c2: #9E9E9E;
    --complementar-c3: #dfdfdf;
}

.cor-principal {
    color: var(--cor-principal)
}
.cor-secundaria {
    color: var(--cor-secudaria)
}
.cor-neutra-escuro {
    color: var(--cor-neutra-escuro)
}
.cor-neutra-claro {
    color: var(--cor-neutra-claro)
}
.complementar-c1 {
    color: var(--complementar-c1)
}
.complementar-c2 {
    color: var(--complementar-c2)
}