body {
    margin: 0px;
    padding: 0px;
}

ul, li, a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0px 80px;
}